.bg-tiempo {
    height: 6em;
    width: 6em;
    display: flex;
    justify-content: center;
    background: transparent;
    align-items: center;
    border-radius: 100em;
    margin-right: 1em;
    background: linear-gradient(to bottom left,#ffeb3b,#f9a825 90%);
    box-shadow: 1px 1px 30px #ffa000;
}

.div2 button {
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    background: transparent;
    font-size: 1.2em;
    padding: 0 0.15em;
    cursor: pointer;
}

#btn-idioma.active {
    color: #c9b4f6eb;
}

.proyectos {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: fit-content;
}

.proyectos svg {
    height: 1.5em;
    width: 2em;
    margin-right: 1.2em;
}

@media (min-width:768px) {
    .contenedor {
        margin: 1.25em;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    .parent {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 1em;
        width: 47em;
    }

    div {
        height: 10em;
    }

    .div1 {
        grid-area: 1 / 1 / 3 / 4;
        height: 90%;
    }

    .intro {
        width: 60%
    }

    .profile_pic{
        position: relative;
        display: flex;
        height: 100%;
    }

    .profile_pic img {
        position: absolute;
    	height: 150%;
    	display: flex;
    	justify-content: center;
    	top: -10%;
    }

    .div2 {
        grid-area: 1 / 4 / 1 / 4;
    }

    .div2 h1 {
        font-size: 3em;
        margin-top: 0.75em;
    }

    .div3 {
        grid-area: 2 / 4 / 2 / 4;
    }

    .div4 {
        grid-area: 3 / 1 / 3 / 1;
    }

    .div4 p {
        font-size: 1.2em;
    }

    .num {
        font-size: 3em !important;
    }

    #theme-icon {
        height: 5em;
        width: 5em;
    }  

    #temp {
        margin-top: 0.5em;
		margin-bottom: 0.6em;
		font-size: 3.5em;
    }

    #description, #location, #hora, #title{
        font-size: 1.5em
    }

    #external_link {
        height: 15px;
        width: auto;
        margin-right: 0.6em;
    }
    
    .external_link1 {
        display: none;
    }
    
    .external_link img{
        height: 15px;
    }

    .external_link2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px !important;
        background: transparent;
        padding: 0em 1.6em;
        padding-top: 0.8em;
        padding-bottom: 0.3em;
    }

    .external_link2 img{
        height: 15px;
    }

    .external_link2 svg {
        height: 2em;
        width: 2em;
    }

    .div5 {
        grid-area: 3 / 2 / 3 / 2;
    }

    .div5 h1 {
        font-size: 3em;
        margin-top: 0.2em;
    }

    .div6 {
        grid-area: 3 / 3 / 3 / 5;
    }

    .div7 a h2 {
        margin-top: 0.2em;
    }

    .div7 a p {
        margin-top: 0.2em;
    }

    .div6 a h2, .div7 a h2 {
        font-size: 1.8em;
        padding: 0em 0.76em;
    }
    
    .div6 a p, .div7 a p {
        font-size: 1em;
    }

    .proyectos svg {
        height: 2.4em;
        width: 2.5em;
        margin-right: 2em;
    }

    .div7 {
        grid-area: 4 / 1 / 4 / 3;
    }

    .div8 {
        grid-area: 4 / 3 / 4 / 3;
    }

    .div8 svg {
        height: 1.5em;
        width: 1.5em;
    }

    .div8 img {
        height: 1.5em;
    }

    .div9 h1 {
        margin: 0;
    }

    .div10 {
        grid-area: 5 / 3 / 6 / 5;
    }

    .div11, .div12, .div13 {
        height: auto;
    }

    .div11 svg, .div12 svg, .div13 svg {
        height: 4em;
        width: 4em;
        padding: 0.5em 0;
    }

    .div14 {
        grid-area: 6 / 2 / 6 / 4;
        height: 100%;
        padding: 0em 1.5em
    }
    
    .div14 img {
        height: 9em;
    }

    .div15 {
        grid-area: 4 / 4 / 4 / 4;
    }

    .div15 h1, .div9 h1 {
        font-size: 3em;
    }

    .div15 h3, .div9 h3 {
        font-size: 1.25em;
    }

    .div10 .ymusic_logo {
        padding: 1em 0em;
    }

    .ymusic_logo img {
        height: 2em;
        width: 2em;
    }

    .div10_mask p {
        font-size: 1em;
    }

    .bg-tiempo {
        height: 10em;
        width: 10em;
        margin-right: 1.5em;
    }
}

@media (min-width: 1532px) {
    .contenedor {
        padding: 0 4em;
    }

    .parent {
        width: auto;
        height: auto;
    }

    .div1,.div2, .div3, .div4, .div5, .div6, .div7, .div8, .div9, .div15{
        height: auto;
    }

    .div2 {
        height: 18em;
    	display: flex;
   	 	align-items: center;
    }

    .div2 h1 {
        font-size: 5em;
        margin-top: 0;
    }

    .div2 button {
        font-size: 2em;
    }

    .caja-btn {
        height: auto;
    }

    .intro {
        height: 90%;
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
        justify-content: center;
        padding: 0em 1em;
    }

    .intro p {
        margin: 0;
    }

    .div4 {
        font-size: 1.5em;
    }

    .div5 h1 {
        font-size: 5em;
    }

    .external_link img, .external_link1 img {
        height: 20px;
    }

    .div8 svg {
        height: 3em;
        width: 3em;
    }

    .div8 img {
        height: 3em;
    }

    .div9 {
        font-size: 1.5em;
    }

    .div9 h1 {
        margin-top: 0.34em;
    }

    #margin {
        margin-top: 1em;
    }

    .external_link2 {
        margin-top: 1em;
    }


    .div11 svg, .div12 svg, .div13 svg {
        height: 5em;
        width: 5em;
        padding: 2em 0;
    }


    .div15 {
        font-size: 1.5em;
    }

}